body{
	
font-family: "Helvetica", "Arial", serif;
	
color: #AAFF00;
	background-color: #ADD3F9;
	
text-shadow: 1px 1px #ff0000;
	text-align: center;

}



h1 {
	
font-size: 1.3em;
	
text-align: center;

text-shadow: 1px 1px #ff0000;

}


td, th {
    
border: 1px solid #dddddd;
    
text-align: left;
    
padding: 8px;

}



tr:nth-child(even) {
    
background-color: dj3450;

}